@using MT.Data.Identity
@model MT.Data.Identity.ManageRoles

@{
    ViewData["Title"] = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Admins)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

<h3>Everyone</h3>

<div class="container">
    <table class="table" id="user-table">
        <thead>
            <tr>
                <td>Id</td>
                <td>E-mail</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                var item = Model.Users[i];
                //var role = Model.Roles;
                <tr>
                    <td id="userId">
                        @item.Id
                    </td>
                    <td id="userEmail">
                        @item.Email
                    </td>
                    <td>
                        <select id="roles" name="Role">
                            <option selected="selected" value=""></option>
                            <option value="Admin">Admin</option>
                            <option value="Customer">Customer</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Admin" asp-action="AddToRole" asp-route-id="@item.Id">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $('#btn-update').click(function () {
            var tr = $(this).parent.parent;
            var userId = document.getElementById('#userId').innerText;
            console.log(tr + " " + userId);
        });
    });
</script>
}